.profileContainer{
    padding-top: 55px;
    margin: 30px;
    padding-left: 12%;
    padding-right: 12%;

    
}
.img{
    text-align: center;
}
.profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}
.desc{

    font-size: 15px;
    line-height: 22px;
    word-spacing: 2px;
    text-align: center;
}
.category{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    border-top: 2px solid rgb(72, 71, 71);
    border-bottom: 2px solid rgb(72, 71, 71);
    color: rgb(85, 84, 84);
    font-weight: 500;
    
}

.allCategory{
    margin-left: 25%;
    margin-right: 10%;
    display: flex;
    padding-top: 20px;
    
    column-gap: 100px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.item{
    font-size: 14px;
    color:  rgb(72, 71, 71);
    font-weight: 500;
}