.loginContainer{
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    
   
}


.loginWrapper{
    background-color: white;
    width: 80vw;
    height: 55%;
    border-radius: 20px;
    margin: 0%;

    display: flex;
    



}
.logoDesign{
   
    
    padding-top: 35px;
    text-align: center;
}
.left{
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right{
    flex: 1;
    width: 90%;
    padding: 30px;
    background-color: rgb(105, 251, 202);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 00px 10px 10px 0px;
}
.rightform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.leftImage{
    width: 90%;
    height: 100%;
}
.login-username, .login-password{
    margin-bottom: 5px;
    width: 60%;
    height: 20px;
}
.submit-login-form{
    background-color: rgb(67, 146, 178);
    padding: 6px 35px;
    padding-bottom: 9px;
    color: rgb(247, 248, 249);
    font-weight: 600;
    border: 1px solid rgb(57, 155, 155);
    transition: all 0.4s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
    margin-bottom: 10px;
}
.submit-login-form:hover{
    border-radius: 9px;
    opacity: 1;
    
}
.writeregister{
    background-color: green;
    
}
